node_modules/
.wrangler/
cookies.txt
.env
.dev.vars
.dev.vars.*
*.log
dist/
.wrangler/
checkiflogedin.sh
logout.sh
login.sh
listtablesinD1.sh
addimagetocoursetable.sh
addcolumntotable.sh
listtablestructure.sh
